@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    /*border: 1px dotted black;*/
}

html{
    background: cornflowerblue;
    font-family: 'Oswald', sans-serif;
}

h1, h2, h3 {
    display: flex;
    justify-content: center;
    font-size: 150%;
    padding: 1rem;
}

body{
    margin: 0% 5%;
    text-align: center;
    background-color: #f7f7e2;
    border-radius: 15px;
}

.aboutUsHeader{
    font-size: 170%;
}

.aboutUsTeam{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.teamMember img{
    display: flex;
    justify-content: center;
    border-radius: 50%;
    width: 30%;
    padding: 3%;
}

.teamMember img:hover{
    /*background: url("https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png");*/
    opacity: 0.5;
    border-radius: 50%;
    width: 30%;
}

h3{
    display: flex;
    justify-content: center;
    
}

.teamMember, a{
    display: flex;
    flex-direction: column;
    align-items: center;
}

p{
    width: 55%;
    background: #f7f7e2;
    border-radius: 10px;
    display: flex;
    align-content: center;
}

/*ios Team */
.iosTeam{
    display: flex;
}   
 

/*Backend Team*/
.backendTeam{
    display: flex;
}

/*marketing Team*/
.marketingTeam{
    display: flex;
}

/*Frontend Team*/
.frontendTeam{
    display: flex;
}


@media(max-width: 500px){

    .aboutUsHeader{
        font-size: 100%;
    }
}