@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

html{
    background: cornflowerblue;
    font-family: 'Oswald', sans-serif;
}

nav{
    width: 10 0%;
    
    display: flex;
    justify-content: center;
    background-color:#f7f7e2;
   
}

nav a{
    padding: 1rem; 
    text-decoration: none;  
}

a{
    display: flex;
    justify-content: space-between;
}

h1, h2 {
    display: flex;
    justify-content: center;
}

body{
    width: 100%;
}

.aboutUsTeam{
    display: flex;
    flex-direction: column;
    align-items: center;
}

img{
    display: flex;
    justify-content: center;
    border-radius: 50%;
    width: 30%;
}

img:hover{
    background: url("https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png");
    opacity: 0.5;
}

h3{
    display: flex;
    justify-content: center;
    
}

.teamMember, a{
    display: flex;
    flex-direction: column;
    align-items: center;
}

p{
    width: 50%;
    background: #f7f7e2;
}

/*ios Team */
.iosTeam{
    display: flex;
}   
 


/*Backend Team*/
.backendTeam{
    display: flex;
}

/*marketing Team*/
.marketingTeam{
    display: flex;
}

/*Frontend Team*/
.frontendTeam{
    display: flex;
}