@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

html {

    background-color: cornflowerblue;
    font-family: 'Oswald', sans-serif;

}

h2 {
    font-size: 150%;
}


.wrapper {
    margin: 0% 5%;
    text-align: center;
    background-color: #f7f7e2;
}

header {
    margin: 1%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

nav a {
    font-size: 150%;
    font-weight: bold;
    text-decoration: none;
    color: #4f4e47;
}

.heroImg {
    background-image: url("/photos/hero.jpg");
    height: 500px; 
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover; 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: cornsilk;
    margin: 1%;
}


.heroImg p {
    font-size: 110%;
    margin: 0% 4%;
}

.heroImg h3 {
    font-size: 200%;
}

.mainDetails {
    margin: 0% 4%;
    font-size: 105%;
}

.contentContainer {
    margin: 1%;
    display: flex;
    justify-content: space-around;
}


.content {
    border: 1px solid black;
    margin: 2%;
    padding: 1%;
}

.content h3 {
    font-size: 115%;
    font-weight: bold;
    text-decoration: underline;
}

.content p {
 
}