header {
    margin: 1%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border: 2px dashed black;
    border-style: none none dashed none;
    padding: 1% 0%;
    background-color: #f7f7e2;
    border-radius: 10px;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

nav a {
    font-size: 150%;
    font-weight: bold;
    text-decoration: none;
    color: #4f4e47;
}

/* nav a:nth-child(2), nav a:nth-child(3), nav a:nth-child(4) {
    border: 1px solid black;
    border-style: none solid none solid;
  } */

.sticky {
    position: fixed;
    top: 0;
    width: 88%;
    border-style: dashed;

  }
  
.sticky + .content {
    padding-top: 60px;
  }

  @media(max-width: 500px){
    
    header {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }