*{
    border: 1px solid gray;
}

body{
    width: 100%; 
}

.aboutUsTeam{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.iosTeam{
    display: flex;
    /*align-content: center;*/
}